<mat-toolbar color="primary">
  <span>AWTRIX Client</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="prev()">
    <mat-icon>skip_previous</mat-icon>
  </button>
  <button mat-icon-button (click)="next()">
    <mat-icon>skip_next</mat-icon>
  </button>

  <button mat-icon-button (click)="on()">
    <mat-icon>light_mode</mat-icon>
  </button>
  <button mat-icon-button (click)="off()">
    <mat-icon>nightlight</mat-icon>
  </button>
  <button mat-icon-button (click)="reboot()">
    <mat-icon>restart_alt</mat-icon>
  </button>
  <mat-icon> battery_full </mat-icon>
  <!-- <mat-icon> battery_5_bar </mat-icon>
  <mat-icon> battery_4_bar </mat-icon>
  <mat-icon> battery_3_bar </mat-icon>
  <mat-icon> battery_2_bar </mat-icon>
  <mat-icon> battery_1_bar </mat-icon>
  <mat-icon> battery_charging_full </mat-icon> -->
</mat-toolbar>

<mat-list>
  <mat-list-item *ngFor="let app of apps"
    >{{ app }}
    <button mat-icon-button (click)="display(app)">
      <mat-icon>play_circle</mat-icon>
    </button>
    <button mat-icon-button (click)="delete(app)">
      <mat-icon>delete</mat-icon>
    </button></mat-list-item
  >
</mat-list>

<pre>{{ $stats | async | json }}</pre>

<pre>{{ $power | async | json }}</pre>

<button (click)="moodlight()">Moodlight</button>
<button (click)="moodlightOff()">MoodlightOff</button>

<button (click)="sleep()">sleep</button>
